* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.theform {
  height: 500px;
  width: 80%;
  text-align: center;
  background-color: #cce2a7;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  padding-top: 20px;
}
.textarea {
  background: #dbeac3;
  color: black;
  height: 70px;
  width: 95%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 20px;
  border-radius: 10px;
}
.textarea:focus {
  outline: none;
}
.textarea::placeholder {
  color: black;
  opacity: 0.8; /* Firefox */
}
.btn {
  border: 2px solid black;
  height: 50px;
  width: 100px;
  border-radius: 100px;
  margin: auto;
}
.btn:hover {
  background-color: black;
  color: antiquewhite;
}
.textdiv {
  background-color: #fafafa;
  height: fit-content;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}
