* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.theform {
  height: 75vh;
  width: 80%;
  text-align: center;
  background-color: #cce2a7;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  justify-items: center;
}
.textdiv {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  height: 80%;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  /* padding-bottom: 1rem;
  padding-top: 1rem; */
  padding: 0.8rem 0.85rem;
}
.textarea {
  background: #dbeac3;
  color: black;
  flex-grow: 1;
  /* width: 95%; */
  height: 10rem;
  margin: 0.5rem 0;
  padding-left: 20px;
  border-radius: 10px;
  font-weight: 500;
  border: 0.175rem solid #dbeac3;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.textarea:focus {
  outline: none;
  border: 0.175rem solid #8e9780;
}
.textarea::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}
.btn {
  border: 2px solid black;
  height: 50px;
  width: 100px;
  border-radius: 100px;
  margin: auto;
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  margin-bottom: 50px;
}
.btn:hover {
  background-color: black;
  color: antiquewhite;
}
.btn:active {
  scale: 0.95;
}
.lilbtn {
  color: rgba(0, 0, 0, 0.75);
  margin: auto;
  font-size: 2rem;
  border: none;
}
.lilbtn:hover {
  color: black;
}
.datetext {
  background: transparent;
  display: inline-flex;
  margin: auto;
  padding-left: 0.5rem;
}
