@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bree+Serif&family=Fira+Sans&family=Rubik&family=Signika&family=Sora&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  overflow: hidden;
}
